$accent: #496ADC;
$orange: #FAD192;
$orangeSuperLight: #FFF8EE;
$light: #fff;
$dark: #000;
$gray: transparentize($dark, 0.4);
$grayLight: transparentize($dark, 0.6);
$lightenPercent: 15%;
$fontDefault: 'Gilroy', sans-serif;
$maxWidthTitle: 700px;
$borderRadiusDefault: 16px;

$shadowSmall: 0px 2px 16px rgba(0, 0, 0, 0.08);
$shadowBig: 0px 4px 64px rgba(0, 0, 0, 0.2);

