@import "fonts";
@import "vars";

html, body {
  overflow: hidden auto;
  &.is-active {
    overflow: hidden!important;
  }
}

* {
  margin: 0;
  padding: 0;
  outline: none !important;
  transition: all .2s ease-in;
}

a {
  color: $accent;

  &:hover {
    text-decoration: none;
  }
}

img {
  max-width: 100%;
  width: auto;
  align-self: center;
}

.dr-h1 {
  font-family: $fontDefault;
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 53px;
  color: $dark;
}

.dr-h2 {
  font-family: $fontDefault;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: $dark;
}

.dr-subtitle {
  font-family: $fontDefault;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  color: $gray;
}

.dr-text {
  font-family: $fontDefault;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: $gray;

}

.dr-caption {
  font-family: $fontDefault;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: $grayLight;
}

.link {
  display: inline-block;
  font-family: $fontDefault;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  color: $accent;

  &:hover {
    text-decoration: none;
    color: lighten($accent, $lightenPercent);
  }

  &__rounded {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 56px;
    height: 56px;
    margin: 0;
    padding: 0;
    background: $light;
    border-radius: 50px;
  }

  &-wicon {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    .icon {
      margin: 0 5px 0 0;
    }
  }

  &__accent {
    color: $accent;

    .icon {
      svg {
        stroke: $accent;
        fill: transparent;
      }
    }
  }
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 24px;
  height: auto;

  > * {
    fill: $accent;
  }
}

.dr-navbar {
  flex-wrap: wrap;

  &-nav {
    .nav-link {
      padding: 25px 10px;

      &.dr-text {
        &:hover {
          color: lighten($gray, $lightenPercent);
        }
      }
    }
  }
}

.bg {
  &-orangeSuperLight {
    background-color: $orangeSuperLight !important;
  }

  &-orange {
    background-color: $orange !important;
  }

  &-accent {
    background-color: $accent !important;
    color: $light;

    .section-header {
      * {
        color: $light;
      }
    }
  }

  &-light {
    background-color: $light;
  }

  &-lightGray {
    background-color: $lightGray !important;
  }
  &-grayBlock {
    background-color: $grayBlock!important;
  }
}

.section {
  position: relative;
  padding: 120px 0;

  &-header {
    margin-bottom: 40px;
    max-width: $maxWidthTitle;
    margin-left: auto;
    margin-right: auto;

    &__title {

    }

    &__subtitle {
      margin-top: 25px;
    }
  }

  &-promo {
    padding: 0;
    margin: 0;
    width: 100%;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
  }

  &-reviews {
    .section-header {
      margin-bottom: 80px;
    }
  }

  &-advantage, &-photographers, &-form, &-questions {
    .section-header {
      margin-bottom: 55px;
    }
  }

  &-form {
    padding: 0;

    .form {
      padding: 120px 0 104px 0;
      max-width: 410px;
      margin: 0 auto;
    }
  }

  &-image {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    &__wrapper {
      height: 100%;
      min-height: 450px;
    }
  }
}

.promo {
  &-content {
    display: flex;
    height: 88vh;
    max-width: $maxWidthTitle;
    margin-left: auto;
    margin-right: auto;

    &__text {
      margin: 0 0 35px 0;

      .dr-h1 {
        margin: 0 0 20px 0;
      }
    }

    &__wrapper {
      margin-top: 6vh;
    }
  }
}

.dr-btn {
  display: inline-block;
  padding: 20px 30px;
  background: $light;
  color: $accent;
  border-radius: 8px;
  font-family: $fontDefault;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  cursor: pointer;
  border: none;

  &__accent {
    background: $accent;
    color: $light;

    &:hover {
      background: darken($accent, $lightenPercent);
      color: $light;
    }
  }

  &__white {
    color: $accent;
    background: $light;
    box-shadow: $shadowSmall;
  }

  &__group {
    > * {
      margin: 0 5px 0 0;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &__initial {
    border: none;
    background: $light;
    appearance: none;
    cursor: pointer;
  }
}

.dr-nav {
  border: none;

  &.nav-tabs {
    .nav-item {
      margin-bottom: 0;
    }

    .nav-link {
      display: inline-block;
      position: relative;
      border: none;
      background: transparent;
      font-weight: 600;
      padding: 20px 30px;
      margin: 0;

      &:after, &:before {
        content: '';
        position: absolute;
        height: 2px;
        bottom: 0;
        transition: all .2s ease-in;
      }

      &:after {
        background: $accent;
        z-index: 2;
        width: 0%;
        right: 0;
      }

      &:before {
        background: transparentize($dark, .8);
        z-index: 1;
        width: 100%;
        left: 0;
      }

      &:hover {
        color: $gray;
      }

      &.active {
        color: $accent;

        &:after {
          width: 100%;
          left: 0;
        }

        &:hover {
          color: $accent;
        }
      }
    }
  }
}

.dr-tabs {
  .tab-content {
    padding-top: 40px;
    margin-left: -15px;
    margin-right: -15px;
  }
}

.steps {
  padding: 40px 0 65px 0;
}

.btn-play-video {
  width: 96px;
  height: 96px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  border-radius: 50px;
  position: absolute;
  top: 50%;
  margin-top: -48px;
  left: 50%;
  margin-left: -48px;
}

.video {
  &-preview {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 70vh;
    min-height: 170px;
    border-radius: 24px;
    overflow: hidden;
  }
}

.panel {
  padding: 32px;
  box-shadow: $shadowSmall;
  border-radius: $borderRadiusDefault;
}

.reviews {
}

.review {
  &-item {
    margin-bottom: 45px;

    &__message {
      @extend .dr-h2;

      > * {
        margin: 0;
      }
    }

    &__author {
      margin: 32px 0 0 0;
    }
  }
}

.user {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: flex-start;

  &-avatar {
    display: flex;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50px;
    overflow: hidden;
    background-color: $grayLight;
    margin: 0 15px 0 0;

    &__min {
      height: 48px;
      width: 48px;
    }

    &__middle {
      height: 80px;
      width: 80px;
    }
  }

  &-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    &__name {
      font-weight: bold;
      color: $dark;
    }

    &__position {
      font-size: 15px;
      line-height: 20px;
    }
  }
}

.advantage-item {
  position: relative;
  display: flex;
  flex-direction: row;
  border-radius: $borderRadiusDefault;
  background-color: $light;
  overflow: hidden;
  height: 280px;
  margin-bottom: 20px;

  &__content {
    position: relative;
    padding: 32px 0 32px 32px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    z-index: 2;
  }

  &__image {
    width: 35%;
    z-index: 1;

    > * {
      position: absolute;
      right: 0;
      top: 0;
      height: 100%;
      width: auto;
    }
  }

  &__title {
    font-size: 32px;
    line-height: 36px;
  }
}

.users-gallery {
  padding: 0 32px;
}

.user-gallery {
  display: grid;
  grid-template-columns: 1fr 0.5fr;
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 4px;

  > *:first-child {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 1;
  }

  > *:nth-child(2) {
    grid-row: 1;
    grid-column: 2;
  }

  > *:last-child {
    grid-row: 2;
    grid-column: 2;
  }

  &__route {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  &__item {
    position: relative;
    overflow: hidden;
    border-radius: $borderRadiusDefault;
    box-shadow: $shadowSmall;
    margin: 20px 15px;

    .user {
      padding: 25px 20px;

      &-avatar {
        position: absolute;
        top: -61px;
        left: 15px;
        border: 4px solid $light;
      }
    }
  }

}


.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev {
  position: absolute;
  top: 50%;
  margin-top: -32px;
  width: 64px;
  height: 64px;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 50px;
  box-shadow: $shadowSmall;
  z-index: 2;
  background: #fff;
  opacity: 1;
  transform: scale(1);
}

.owl-carousel .owl-nav button.owl-next {
  right: -32px;
}

.owl-carousel .owl-nav button.owl-prev {
  left: -32px;
}

.owl-carousel .owl-nav button.owl-next.disabled, .owl-carousel .owl-nav button.owl-prev.disabled {
  opacity: 0;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  .dr-caption {
    font-weight: 600;
  }

  &-caption {
    font-size: 15px;
    line-height: 20px;

  }

  &-title {
    margin: 0 0 32px 0;
  }

  &-group {
    position: relative;

    > * {
      width: 100%;
    }

    & &__label {
      &.is-active {
        font-size: 13px;
        line-height: 18px;
        top: 7px;
        margin-top: 0;
      }
    }

    &__element {
      border: 2px solid transparentize($dark, .92);
      background: $light;
      border-radius: $borderRadiusDefault / 2;
      padding: 20px 25px 11px 25px;
      margin: 0;
      color: $dark;
      font-weight: 600;
      font-size: 18px;
      line-height: 24px;

      &::placeholder {
        color: $dark;
      }

      &:focus {
        border-color: $accent;

        ~ {
          .form-group__label {
            font-size: 13px;
            line-height: 18px;
            top: 7px;
            margin-top: 0;
          }
        }
      }

      &.default {
        padding: 12px 20px;
      }
    }

    &__input {
    }

    &__label {
      position: absolute;
      left: 25px;
      margin: 0;
      padding: 0;
      top: 50%;
      margin-top: -12px;
    }


  }
}

.dr-accordion {
  position: relative;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  max-width: $maxWidthTitle + 50px;
  box-shadow: $shadowSmall;
  overflow: hidden;
  border: none;
  background-color: transparent;
  border-radius: $borderRadiusDefault;

  > * {
    width: 100%;
    background-color: transparent;
  }

  .card {
    position: relative;
    border-radius: 0;
    border: 0;
    border-bottom: 1px solid transparentize($dark, .92);
    overflow: hidden;
    background: $light;

    &:first-child {
      border-radius: $borderRadiusDefault $borderRadiusDefault 0 0;
    }

    &:last-child {
      border-bottom: none;
      border-radius: 0 0 $borderRadiusDefault $borderRadiusDefault;
    }

    &-header {
      padding: 0;
      border-radius: 0;
      border: none;
      overflow: hidden;
      background: transparent;
    }

    &-link {
      @extend .dr-h2;
      position: relative;
      display: flex;
      width: 100%;
      line-height: 28px;
      padding: 25px 80px 15px 32px;

      &:after {
        content: '';
        position: absolute;
        right: 20px;
        top: 50%;
        margin-top: -20px;
        background-image: url(../img/icons/minus.svg);
        background-repeat: no-repeat;
        background-size: 40px 40px;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all .2s ease-in;
      }

      &.collapsed {
        padding-bottom: 25px;

        &:after {
          background-image: url(../img/icons/plus.svg);
        }
      }
    }

    &-body {
      @extend .dr-h2;
      color: $gray;
      font-weight: 500;
      padding: 0 80px 15px 32px;
      line-height: 28px;
    }
  }
}

.site {
  &__footer {
    padding: 120px 0;
  }
}

.footer {

  &__year {
    margin-bottom: 40px;
  }

  &-nav {
    margin-bottom: 20px;

    > ul {
      > li {
        list-style: none;
        > a {
          padding: 0;
          margin: 0 0 16px 0;
        }
      }
    }

    .dr-navbar-nav .nav-link {
      padding: 0;
      margin: 0 0 16px 0;
    }

    &__social {
      > ul {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
        > li {
          margin-right: 10px;
          &:last-child {
            margin-right: 0;
          }
          > a {
          }
        }
      }
    }
  }
}

.block-settings {
  padding: 20px 30px;
  background: #fff;
  width: 100%;
  max-width: 400px;
  overflow: hidden auto;

  * {
    font-family: $fontSecondary;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 19px;
    color: $darkBlue;
  }

  .dr-caption {
    font-family: $fontSecondary;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    color: $middleBlue;
  }

  &__item {
    > {
      .row {
        > * {
          &:first-child {
            padding-right: 7.5px;
          }
          &:last-child {
            padding-left: 7.5px;
          }
        }
      }
    }
  }

  &__wrapper {
    position: fixed;
    z-index: 99;
    display: flex;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: transparentize($dark, .85);
    backdrop-filter: blur(15px);
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    &.is-active {
      opacity: 1;
      visibility: visible;
    }
  }

  .form-group {
    &__element {
      font-family: $fontSecondary;
      font-style: normal;
      font-weight: 500;
      font-size: 15px;
      line-height: 19px;
      border-radius: 4px;
      padding: 12px 15px;
      border: 1px solid transparentize($middleBlue, .75);
      &.bg-grayBlock {
        border: none;
      }
    }
  }
}

/*стилизация селектов*/
.simple-select {
  position: relative;
  cursor: pointer;
  width: 100%;
  z-index: 5;

  &__default {
    .simple-select-item {
      display: flex;
      position: relative;
      &.is-active {
        &:after {
          content: '';
          background-image: url(../img/icons/icon-done.svg);
          background-size: 24px 24px;
          width: 24px;
          height: 24px;
          position: absolute;
          top: 50%;
          margin-top: -12px;
          right: 15px;
          left: auto;
        }
        &:hover {
          > * {
            background: $light;
          }
        }
      }
      > * {
        display: flex;
        margin: 5px;
        padding: 10px 30px 10px 10px;
        border-radius: 4px;
      }
      &:hover > * {
        background: $lightGray;
      }
    }

  }

  &-main {
    @extend .form-group__element;
    display: flex;
    align-items: center;
    justify-content: space-between;
    svg {
      width: 8px;
      margin-left: 15px;
      transition: all .2s ease;
      -webkit-transition: all .2s ease;
      -moz-transition: all .2s ease;
      -o-transition: all .2s ease;
    }
    &.with-label {
      padding: 17px 12px 5px 12px;
      svg {
        margin-top: -8px;
      }
    }
  }

  &.is-active {
    z-index: 6;
    .simple-select-main svg{
      transform: rotate(180deg);
    }
    .simple-select-drop {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
    }
  }
  &-selected {
    margin: 0;
    padding: 0;
    min-width: 20px;
    > * {
      margin: 0;
      padding: 0;
      border: none;
      background: transparent;
      appearance: none;
      font-style: normal;
      font-family: $fontSecondary;
      font-weight: 500;
      font-size: 15px;
      line-height: 19px;
      text-align: left;
    }
  }
  &-item{
    border: none;
    padding: 0;
    > * {
      appearance: none!important;
      background: $light;
      width: 100%;
      font-style: normal;
      text-align: left;
      padding: 10px 12px;
      font-weight: 500;
      font-size: 15px;
      line-height: 19px;
      transition: all .2s ease;
      -webkit-transition: all .2s ease;
      -moz-transition: all .2s ease;
      -o-transition: all .2s ease;
      border: none;
    }
    &:hover {
      > * {
        cursor: pointer;
        background: lighten($middleBlue, 50%);
      }
    }
    &.is-active {
      > * {
        pointer-events: none;
        cursor: default;
        background: $light;
        color: $accentTwo;
      }
    }
  }

  &-drop{
    transform: translateY(-15px);
    position: absolute;
    width: 100%;
    opacity: 0;
    left: 0;
    visibility: hidden;
    transition: all .2s ease;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    z-index: 5;
    border-radius: 4px;
    overflow: hidden auto;
    max-height: 280px;
    box-shadow: 0px 10px 20px rgba(161, 172, 188, 0.4);
    &:hover{
      overflow: hidden auto;
    }
    ul {
      padding: 0;
      margin: 0;
      list-style: none;
    }
  }
}

.dropdown-list-item {
  padding: 0;
}


.form-group__selectinput {
  display: flex;
  flex-wrap: nowrap;
  > *:first-child {
    border-radius: 4px 0 0 4px;
    border-right: none;
    flex: 1;
    min-width: 1px;

  }
  > .simple-select {
    width: auto;
    .simple-select-main {
      border-radius: 0 4px 4px 0;
      border-left: 0;
      &:before {
        content: '';
        position: absolute;
        width: 1px;
        height: 50%;
        left: 0;
        top: 12px;
        background: transparentize($middleBlue, .75);
      }
    }
  }
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.range-color-input {
  padding-right: 50px;
}


/*стилизация range*/
input[type="range"].slider-range {
  -webkit-appearance: none;
  height: 3px;
  background: $darkBlue;
  background: linear-gradient(90deg, #E5E5EA 0.24%, #0A083A 100%);
  padding: 0;
  border-radius: 2px;
  width: 100%;
}
.slider-range {
  &-value {
    width: auto;
    font-weight: 500;
    position: absolute;
    right: 15px;
    left: auto;
    top: 50%;
    margin-top: -9px;
    > * {
      font-weight: 500;
    }
  }
  &-wrapper {
    position: absolute;
    bottom: -5px;
    left: 15px;
    width: calc( 100% - 30px);
  }
}
.slider-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: $darkBlue;
  border: 2px solid $light;
  border-radius: 50px;
  cursor: pointer;
  position: relative;
  z-index: 2;
}

.slider-range::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: $darkBlue;
  border: 2px solid $light;
  border-radius: 50px;
  cursor: pointer;
  position: relative;
  z-index: 2;
}
/*стилизация range*/


.radio-group__item {
  > input {
    position: absolute;
    opacity: 0;
    z-index: -1;
    left: -9999px;
    &:checked ~ .radio-group__label {
      color: $darkBlue;
      > * {
        color: $darkBlue;
      }
    }
  }
}

.radio-group__label {
  width: 100%;
  margin: 0;
  border-radius: 0;
  padding: 12px 15px;
  border: 1px solid rgba(141,153,167,0.25);
  border-right: 0;
  border-left: 0;
  text-align: center;
  cursor: pointer;
  position: relative;
  text-transform: uppercase;
  color: $middleBlue;
  > * {
    color: $middleBlue;
  }
  &:after {
    content: '';
    position: absolute;
    height: calc(100% - 20px);
    top: 10px;
    width: 1px;
    background: rgba(141,153,167,0.25);
    right: 0;
  }
}

.block-settings .form-group__element.radio-group__item {
  padding: 0;
  border: none;
}

.form-group__radiogroup {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  > * {
    flex: 1;
  }
}

.radio-group__item {
  &:first-child {
    .radio-group__label {
      border-radius: 4px 0 0 4px;
      border-left: 1px solid rgba(141,153,167,0.25);
    }
  }
  &:last-child {
    .radio-group__label {
      border-radius: 0 4px 4px 0;
      border-right: 1px solid rgba(141,153,167,0.25);
      &:after {
        display: none;
      }
    }
  }
}

.dr-btn__operations {
  width: auto;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 50%;
  margin-top: -12px;
  right: 10px;
  > * {
    background-color: transparent;
  }
}

.form-group__operations {
  padding-right: 70px;
}

.dr-btn__block {
  padding: 12px 20px;
  color: $accentTwo;
  width: 100%;
  box-shadow: none;
  border: 1px solid rgba(141,153,167,0.25);
  font-weight: 500;
}


@import "media";


